:root {
  --background: #232323;
  --main-color: salmon;
  --game-over: darkred;
}

body {
  background-color: var(--background);
  font-family: "Avenir", sans-serif;
	margin: 0;
}

.bg {
  background-color: var(--background);

}


/* ========== HEADER STYLING ========== */

h1 {
  color: #fff;
  background: var(--main-color);
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

h1 span {
  font-size: 200%;
}

.game-over {
  background-color: var(--game-over);
  color: #fff;
}


/* ========== NAVIGATION BAR STYLING ========== */

nav {
  background-color: #fff;
  color: #000;
	height: 30px;
	text-align: center;
}

nav .selected {
  background-color: var(--main-color);
	color: #fff;
}

nav button {
  background-color: #fff;
	border: none;
  color: var(--main-color);
  font-size: inherit;
	font-weight: 700;
  height: 100%;
  letter-spacing: 1px;
	text-transform: uppercase;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

nav button:hover {
  background-color: var(--main-color);
	color: #fff;
}

nav span {
  display: inline-block;
  width: 600px;
}


/* ========== FOOTER STYLING ========== */

footer {
  font-size: 0.8rem;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: var(--main-color);
}
